
footer {
	background-color: #52565E ;
	padding: 10px 10px 10px 10px;
	border: 2px solid #00C16E;
	border-radius: ;
	text-transform: capitalize;
	text-align: center;
	font-size: 20px;
	color: #F3F4F7;
	margin-top: 20px;
	margin-bottom: 20px;

	}
	

h1,h2,h3 {
	color:#00C16E ;
	background-color: ;
	border: 2px solid #00C16E;
	text-align: center;
			
	}

* {
	font-family:"Lato",sans-serif;
	box-sizing: border-box;
	line-height: 30px;


	}

ul,a {
	text-decoration: none; /*permet d'enlever les lignes dessous*/
	}

.thebox {
	background-color: #52565E;
	border: 2px solid #F85A40;
	border-radius: ;
	font-weight: ;
	color: #F3F4F7;
	padding: 10px 10px 10px 10px;
	
}

.blocthebox{
	text-align: center;
	color: #F85A40;
	font-size: 20px;
	padding: 10px 10px 10px 10px;
}

.world {
	background-color: #52565E;
	border: 2px solid #F48924;
	font-weight: ;
	padding: 10px 10px 10px 10px;
	color: #F3F4F7;
	

}

.blocgris {
	background-color: ;
	border-bottom: 1px inset black;
	font-weight: ;
	
}


.imagedetitre {
	width: 100%;
}

.LC {
	margin-top: 30px;
	background-color: #52565E;
	border: 0px solid #00C16E;
	width: 100%;

	}
.imageLC {
	width: 100%;
}

.listeLC {
	border-bottom: 2px solid #00C16E;
	margin-top: 0px;
	font-size: 20px;
	color: #F3F4F7;
	padding: 10px 10px 10px 40px;
}


.blocLC-titre {
	border-top: 2px solid #00C16E;
	padding: 10px 10px 10px 10px;
	color: #F3F4F7;
	text-align: center;
	font-size: 30px;
}

.blocvideo1 {
	border: 1px solid #037Ef3;
	text-align: center;
	color: #037Ef3;
	font-size: 20px;
	padding: 10px 10px 10px 10px;
}

.blocvideo2 {
	text-align: center;
	color: #F48924;
	font-size: 20px;
	padding: 10px 10px 10px 10px;

}

.blocvideo3 {
	text-align: center;
	color: #037Ef3;
	font-size: 20px;
	padding: 10px 10px 10px 10px;
	margin-top: 10px;
}