.bloc-affichage {
	text-align: center;
	background-color: #c8d6e5;
}

.bloc-titre{
	margin-top: 40px;
	text-align: center;
	border-top: 3px solid #037Ef3;
	color: #037Ef3;
	margin-bottom: 15px;
}

.imagedetitre{
	margin-bottom: 40px;
}

section p,div {
	text-align: initial;
	margin-left: 30px;
	margin-right: 30px;
	
}

.centered {
	text-align: center;
}

h2,h3 {
	color: #00C16E ;
	background-color: ;
	border: 2px solid #00C16E;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	font-weight: initial;
			
	}
body {
	width: 70%;
	margin: auto;
}
* {
	font-family:"Lato",sans-serif;
	box-sizing: border-box;
	line-height: 50px;
	font-size: 25px;
	
	


	}

.bloc-table{
	text-align: ; 
	border: 2px solid #52565E;
	margin-top: 40px;
	margin-bottom: 40px;
	color:  #52565E;
}
.bloc-intro {
	border: 2px solid #52565E;
	color: #52565E;
	text-align: ;
	margin-top: 40px;
	margin-bottom: 40px;
}


.bloc-SDG {
	border: 2px solid #52565E;
	color: #52565E;
	text-align: ;
	margin-left: ;
	margin-bottom: 0px;
	border-bottom: 0px solid white;
}

.bloc-mail {
	margin-top: 10px;
	margin-bottom: 10px;
	color: #52565E; 
}

.bloc-concours{
	border: 2px solid #52565E;
	border-top: 0px solid white;
	color: #52565E;
	text-align: ;

}

.world {
	background-color: ;
	border: 2px solid #F48924;
	text-align: center;
	font-weight: ;
	padding: 10px 10px 10px 10px;
	color: #52565E;
	margin-top: 40px;
	margin-bottom: 40px;
}

.bloc-teamspirit {
	background-image: url(https://images.pexels.com/photos/2389164/pexels-photo-2389164.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
	background-size: cover;
	padding-top: 100px;
	padding-bottom: 100px;
	color: white;
	text-align: center;
	margin-top: 40px;
	border: 2px solid #52565E;
	border-bottom: 0px;
}

.bloc-temoignage {
	border: 2px solid #52565E;
	color: #52565E;
	text-align: center;
	margin-bottom: 40px;
}
.bloc-recrutement {
	border: 2px solid #037Ef3;
	text-align: center;
	color: #52565E;
	margin-bottom: 40px;
	margin-top: 40px;
}	
.thebox {
	background-color: ;
	border: 2px solid #F85A40;
	font-weight: ;
	color: #52565E;
	padding: 10px 10px 10px 10px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 40px;
	margin-top: 40px;
	text-align: center;
	
}

.blocthebox {
	text-align: center;
	color: #F85A40;
	padding: 10px 10px 10px 10px;
	margin-bottom: 20px;

}
.bloc-ef {
	border: 2px solid #52565E;
	text-align: ;
	color: #003940;
	margin-bottom: 40px;
	margin-top: 40px;
} 

.titre-ef {
	width: 50%;
	text-align: center;
	color: #FF00FF;
}

.bloc-cs {
	border: 2px solid #52565E;
	margin-bottom: 40px;
}
.bloc-charitea {
	border: 2px solid  #52565E;
	text-align: center;
	color: #52565E;
}
.bloc-news {
	border: 2px solid #52565E;
	text-align: center;
	color: #52565E;
	margin-bottom: 40px;
	margin-top: 40px;
}


.blocgris {
	background-color: ;
	border-bottom: 1px inset black;
	
}

.LC {
	border: 2px solid #52565E;
	margin-top: 30px;
	margin-bottom: 40px;
	

	}
.imageLC {
	width: 100%;
	margin-left: ;


}

.listeLC {
	font-size: 20px;
	color: #52565E;
	padding: 0px 10px 10px 10px;
	
}



.blocvideo1 {
	text-align: center;
	color: #037Ef3;
	font-size: 20px;
	padding: 10px 10px 10px 10px;
}

.blocvideo2 {
	text-align: center;
	color: #037Ef3;
	font-size: 20px;
	padding: 10px 10px 10px 10px;

}

.blocvideo3 {
	text-align: center;
	color: #FFC845;
	font-size: 20px;
	padding: 10px 10px 10px 10px;
	margin-top: 10px;
}

.bloc-question {
	text-align: center;
	color: #52565E;
	border: 2px solid #52565E;
	margin-top: 40px;

}
.bloc-footer {
	background-color: #CACCD1 ;
	color: #52565E;
	text-align: center;
	margin-top: 40px;
	padding: 20px;
	margin-bottom: 40px;
